*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Tauri', sans-serif;
}

.navbar{
	background: #934A5F;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	z-index: 99;
}

.navbar__container{
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}

#navbar__logo{
	background-color: #C2B4D6;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
}

.navbar__menu{
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item{
	height: 80px;
}

.navbar__links{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
}

.navbar__links:hover{
	color: #C2B4D6;
	transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
	.navbar__container{
		display: flex;
		justify-content: space-between;
		height: 80px;
		width: 100%;
		max-width: 1300px;
		padding:0;
	}
	
	.navbar__menu{
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 0;
		transition: all 0.5s ease;
		height: 50vh;
		background: #934A5F;
	}
	
	.navbar__menu.active{
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		height: 50vh;
		font-size: 1.6rem;
	}
	
	#navbar__logo{
		padding-left: 25px;
	}
	
	.navbar__toggle .bar{
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: #fff;
	}
	
	.navbar__item{
		width: 100%;
	}
	
	.navbar__links{
		text-align: center;
		padding: 1rem;
		width: 100%;
		display: table;
	}
	
	#mobile-menu{
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%,20%);
	}
	
	.navbar__toggle .bar{
		display: block;
		cursor: pointer;
	}
	
	#mobile-menu.is-active .bar:nth-child(2){
		opacity:1;
	}
	
	#mobile-menu.is-active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	
	#mobile-menu.is-active .bar:nth-child(1){
		transform: translateY(-8px) rotate(-45deg);
	}
}

/*about section*/
.main{
	background-color: #C2B4D6;
	height: 720px;
}

.main__container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	background-color: #C2B4D6;
	width: 100%;
	height: 70vh;
	max-width: 1300px;
	padding: 0 70px;
}

hr {
	border: 1px solid #4C4556;
}

.main__content h2 {
	font-family: cursive;
	font-size: 1.9rem;
	background-color: #934A5F;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main__content p{
	margin-top: 1rem;
	font-size: 2rem;
	color: #fff;
}

.main__img--container{
	text-align: center;
	padding: 0.5rem;
}

#main__img{
	border-radius: 20px;
	height: 80%;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#main__img:hover{
	transform: scale(1.050);
	transition: 0.3s ease-in;
	cursor: pointer;
}

.unilink{
	font-size: 2rem;
	color: white;
}

.unilink:hover{
	color: #934A5F;
}

/*mobile responsive*/

@media screen and (max-width: 970px){
	.main__container{
		display: grid;
		grid-template-columns: auto;
		align-items: center;
		justify-self: center;
		width: 100%;
		margin:0 auto;
		height: 85vh;
	}

	.unilink{
		font-size: 1.5rem;
		color: white;
	}
	
	.main__content h2{
		font-size: 2rem;
	}
	
	.main__content p{
		margin-top: 1rem;
		font-size: 1.5rem;
	}
	
	#main__img{
		border-radius: 20px;
		height: 50%;
		width: 50%;
		
	}
	
}

@media screen and (max-width: 480px){
	
	.main__content h2{
		font-size: 1.5rem;
		margin-top: 2rem;
	}
	
	.main__content p{
		margin-top: 1rem;
		font-size: 1.5rem;
	}
}

/*projects section*/

.projects{
	background-color: #C2B4D6;
	height: 720px;
}

.projects h2{
	text-align: center;
	padding: 3rem;
	font-size: 2rem;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.projects__container{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.project__card{
	background: #f0e6ff;
	width: 300px;
	height: 430px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	text-align: center;
}

.project__card h2{
	padding: 0.5rem 1rem ;
	font-size: 1.3rem;
	color: black;
	text-shadow: none;

}

.project__card p{
	margin: 1rem;
	font-size: 1.2rem;
	color: black;
}

.button{
	font-size: 1rem;
	background-color: #C2B4D6;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	outline: solid;
}

.button:hover{
	background-color: #934A5F;
}

.project__card:hover{
	background-color: rgb(200,200,200);
	cursor: pointer;
	transform: scale(1.02);
	transition: all 0.2s ease-in;
}

.card__image{
	border-radius: 10px;
	background-color: purple;
	height: 200px;
	margin: 0.5rem;
	background-size: cover; 
}

.pr-1{
	height: 190px;
	align-items: center;
	justify-content: center;
	background-image: url("images/linux-bash.png");
}

.pr-2{
	height: 190px;
	align-items: center;
	justify-content: center;
	background-image: url("images/hotel.png");
}

.pr-3{
	height: 190px;
	align-items: center;
	justify-content: center;
	background-image: url("images/arduino.png");
}

.pr-4{
	height: 190px;
	align-items: center;
	justify-content: center;
	background-image: url("images/olivetti.png");
}

@media screen and (max-width: 1300px){
	.projects{
		background-color: #C2B4D6;
		height: 1200px;
	}
}

@media screen and (max-width: 660px){
	.projects{
		background-color: #C2B4D6;
		height: 2100px;
	}
}

/*footer*/
.footer__container{
	display: flex;
	background-color: #4C4556;
	padding: 1.5rem 0;
	justify-content: center;
	align-items: center;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 85px;
	bottom: 0;
}

.social__icon--links{
	color: #fff;
	font-size: 40px;
}

.social__media{
	display: flex;
	max-width: 1000px;
	width: 100%;
	justify-content:center;
	align-items: center;
}